# Maven #
target/

# Coding #
.coding-ide/

# Intellij #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project

# Log #
logs/
*.log

# Test #
src/test/

# Pthon #
*.py

# Database Setting #
database.properties