<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

<!--snaker对数据库的访问-->
    <bean id="dbAccess" class="org.snaker.engine.access.hibernate.Hibernate3Access">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--任务权限配置-->
    <bean id="access" class="engine.pole.AccessStrategy"/>

    <!--缓存配置-->
    <bean id="cacheManager" class="org.snaker.engine.cache.memory.MemoryCacheManager"/>

    <!--工作流进程-->
    <bean id="processService" class="org.snaker.engine.core.ProcessService">
        <property name="access" ref="dbAccess"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!--order-->
    <bean id="orderService" class="org.snaker.engine.core.OrderService">
        <property name="access" ref="dbAccess"/>
    </bean>

    <!--任务-->
    <bean id="taskService" class="org.snaker.engine.core.TaskService">
        <property name="access" ref="dbAccess"/>
        <property name="strategy" ref="access"/>
    </bean>

    <!--管理-->
    <bean id="managerService" class="org.snaker.engine.core.ManagerService">
        <property name="access" ref="dbAccess"/>
    </bean>

    <!--查询-->
    <bean id="queryService" class="org.snaker.engine.core.QueryService">
        <property name="access" ref="dbAccess"/>
    </bean>

    <!-- 流程引擎配置 -->
    <bean class="org.snaker.engine.spring.SpringSnakerEngine">
        <property name="processService" ref="processService"/>
        <property name="orderService" ref="orderService"/>
        <property name="taskService" ref="taskService"/>
        <property name="queryService" ref="queryService"/>
        <property name="managerService" ref="managerService"/>
    </bean>

    <!--<bean class="org.snaker.engine.impl.LogInterceptor"/>-->
    <bean class="org.snaker.engine.spring.SpelExpression"/>
    <!--<bean class="org.snaker.engine.impl.SurrogateInterceptor"/>-->

    <!-- 流程事务配置 aop的pointcut中增加:or execution(* org.snaker.engine..*.*(..))-->
    <tx:advice id="txAdvice-snaker" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="start*" propagation="REQUIRED"/>
            <tx:method name="execute*" propagation="REQUIRED"/>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="remove*" propagation="REQUIRED"/>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="assign*" propagation="REQUIRED"/>
            <tx:method name="create*" propagation="REQUIRED"/>
            <tx:method name="complete*" propagation="REQUIRED"/>
            <tx:method name="finish*" propagation="REQUIRED"/>
            <tx:method name="terminate*" propagation="REQUIRED"/>
            <tx:method name="take*" propagation="REQUIRED"/>
            <tx:method name="deploy*" propagation="REQUIRED"/>
            <tx:method name="redeploy*" propagation="REQUIRED"/>
            <tx:method name="undeploy*" propagation="REQUIRED"/>
            <tx:method name="withdrawTask*" propagation="REQUIRED"/>
            <tx:method name="native*" propagation="REQUIRED"/>
            <tx:method name="execute" propagation="REQUIRED"/>
            <tx:method name="intercept" propagation="REQUIRED"/>
            <tx:method name="get*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="find*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="query*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="search*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="is*" propagation="REQUIRED" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="serviceOperation" expression="execution(* org.snaker.engine..*.*(..))" />
        <aop:pointcut id="engineUtils" expression="execution(* engine..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice-snaker" pointcut-ref="serviceOperation" />
        <aop:advisor advice-ref="txAdvice-snaker" pointcut-ref="engineUtils"/>
    </aop:config>

    <!--要谨慎使用自动扫描注入，如果工作流拦截器被扫描到之后，会自动成为全局拦截器-->
    <bean name="engine" class="engine.SnakerEngineUtils"/>
    <bean name="orderActorDao" class="engine.entity.OrderActorDao"/>
    <bean name="AOService" class="engine.utils.AOService">
        <property name="orderActorDao" ref="orderActorDao"/>
    </bean>

</beans>
